# Ignore all
*

# Except for directories
!*/

# and except for specific file types
!*.css
!*.js
!*.json
!*.md
!*.scss
!*.ts
!*.yaml
!*.yml
!*.html

###

settings.gradle
gradlew.bat
gradlew
build.gradle
graddle/
.gradle/

## IDE directories
.idea/
.vscode/

## Imported source
node_modules/
**/node_modules/

## Output directories
bin/
build/